<!-- * Multilingual language selector. -->
<!-- https://designsystem.digital.gov/patterns/select-a-language/selected-content -->
<div class="usa-language-container usa-language--small">
  <ul class="usa-language__primary usa-accordion">
    <li class="usa-language__primary-item">
      <button
        class="usa-button usa-language__link"
        role="button"
        aria-expanded="false"
        aria-controls="language-options">
        Languages
      </button>
      <ul id="language-options" class="usa-language__submenu" hidden="true">
        <li class="usa-language__submenu-item" data-lang="lang-es">
          <a href="javascript:void(0)" title="/es/">
            <span lang="es" xml:lang="es">
              <strong>Español (Spanish)</strong>
            </span>
          </a>
        </li>
        <li class="usa-language__submenu-item">
          <a href="javascript:void(0)" title="العربية | Arabic"
            ><span lang="ar" xml:lang="ar"><strong>العربية</strong></span></a
          >
        </li>
        <li class="usa-language__submenu-item" data-lang="lang-bn">
          <a href="javascript:void(0)" title="/bn/">
            <span lang="bn" xml:lang="bn">
              <strong>বাংলা (Bengali)</strong>
            </span>
          </a>
        </li>
        <li class="usa-language__submenu-item">
          <a href="javascript:void(0)" title="简体字 | Chinese (Simplified)"
            ><span lang="zh" xml:lang="zh"><strong>简体字</strong></span></a
          >
        </li>
        <li class="usa-language__submenu-item" data-lang="lang-zh">
          <a href="javascript:void(0)" title="/zh/">
            <span lang="zh" xml:lang="zh">
              <strong>繁體中文 (Chinese - Traditional)</strong>
            </span>
          </a>
        </li>
        <li class="usa-language__submenu-item" data-lang="lang-ht">
          <a href="javascript:void(0)" title="/ht/">
            <span lang="ht" xml:lang="ht">
              <strong>Kreyòl Ayisyen (Haitian Creole)</strong>
            </span>
          </a>
        </li>
        <li class="usa-language__submenu-item">
          <a href="javascript:void(0)" title="English | English"
            ><span lang="en" xml:lang="en"><strong>English</strong></span></a
          >
        </li>
        <li class="usa-language__submenu-item">
          <a href="javascript:void(0)" title="Español | Spanish"
            ><span lang="es" xml:lang="es"><strong>Español</strong></span></a
          >
        </li>
        <li class="usa-language__submenu-item">
          <a href="javascript:void(0)" title="Français | French"
            ><span lang="fr" xml:lang="fr"><strong>Français</strong></span></a
          >
        </li>
        <li class="usa-language__submenu-item" data-lang="lang-hi">
          <a href="javascript:void(0)" title="/hi/">
            <span lang="hi" xml:lang="hi">
              <strong>हिन्दी (Hindi)</strong>
            </span>
          </a>
        </li>
        <li class="usa-language__submenu-item">
          <a href="javascript:void(0)" title="Italiano | Italian"
            ><span lang="it" xml:lang="it"><strong>Italiano</strong></span></a
          >
        </li>
        <li class="usa-language__submenu-item">
          <a href="javascript:void(0)" title="Pусский | Russian">
            <span lang="ru" xml:lang="ru"><strong>Pусский</strong></span>
          </a>
        </li>
        <li class="usa-language__submenu-item" data-lang="lang-km">
          <a href="javascript:void(0)" title="/km/">
            <span lang="km" xml:lang="km">
              <strong>ភាសាខ្មែរ (Khmer)</strong>
            </span>
          </a>
        </li>
        <li class="usa-language__submenu-item" data-lang="lang-ko">
          <a href="javascript:void(0)" title="/ko/">
            <span lang="ko" xml:lang="ko">
              <strong>한국어 (Korean)</strong>
            </span>
          </a>
        </li>
        <li class="usa-language__submenu-item" data-lang="lang-nv">
          <a href="javascript:void(0)" title="/nv/">
            <span lang="nv" xml:lang="nv"><strong>Diné (Navajo)</strong> </span>
          </a>
        </li>
        <li class="usa-language__submenu-item" data-lang="lang-pt">
          <a href="javascript:void(0)" title="/pt/">
            <span lang="pt" xml:lang="pt">
              <strong>Português (Portuguese)</strong>
            </span>
          </a>
        </li>
        <li class="usa-language__submenu-item" data-lang="lang-tl">
          <a href="javascript:void(0)" title="/tl/">
            <span lang="tl" xml:lang="tl"><strong>Tagalog </strong> </span>
          </a>
        </li>
        <li class="usa-language__submenu-item" data-lang="lang-vi">
          <a href="javascript:void(0)" title="/vi/">
            <span lang="vi" xml:lang="vi">
              <strong>Tiếng Việt (Vietnamese)</strong>
            </span>
          </a>
        </li>
        <li class="usa-language__submenu-item" data-lang="lang-ypk">
          <a href="javascript:void(0)" title="/ypk/">
            <span lang="ypk" xml:lang="ypk">
              <strong>Yup'ik-Akuzipik </strong>
            </span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>
