<ul class="usa-collection">
  {% for item in events %}
  <li class="usa-collection__item">
    <div class="usa-collection__calendar-date">
      <time datetime="{{ item.fullDate }}">
        <span class="usa-collection__calendar-date-month">
          {{ item.month }}
        </span>
        <span class="usa-collection__calendar-date-day"> {{ item.day }} </span>
      </time>
    </div>
    <div class="usa-collection__body">
      <h4 class="usa-collection__heading">
        <a href="javascript:void(0)" class="usa-link"> {{ item.heading }} </a>
      </h4>
      <p class="usa-collection__description">{{ item.description }}</p>
    </div>
  </li>
  {% endfor %}
</ul>
