<!--
  ! Exercise: Add collection of calendar events.
    https://designsystem.digital.gov/components/collection
-->
<ul id="example-collection-events">
  {% for item in events %}
  <li>
    <h4>
      <a href="javascript:void(0)" class="usa-link">
        {{ item.heading }}
      </a>
    </h4>
    <div>{{ item.description }}</div>
    <!--
      MDN on time element:
      https://developer.mozilla.org/en-US/docs/Web/HTML/Element/time
    -->
    <time datetime="{{ item.fullDate }}">
      <span>{{ item.month }}</span>
      <span>{{ item.day }}</span>
    </time>
  </li>
  {% endfor %}
</ul>
