<!-- Exercise #3. -->
<section id="overview" class="usa-section">
  <div class="grid-container">
    <h2>Theming</h2>
    <div class="usa-intro">
      <p>
        Now that we have structure and basic theming setup. Let's start
        customizing and applying our "brand" colors. We're going to be using:
      </p>
      <ul>
        <li>USWDS theme settings</li>
        <li>TK</li>
      </ul>
    </div>

    <h3 class="margin-top-8">Exercise</h3>
    <ol class="usa-list font-sans-lg text-light">
      <li>TK</li>
      <li><strong>Remove instructions once finished.</strong></li>
    </ol>

    <h3>References</h3>
    <ul class="usa-list">
      <li>
        Design system docs [designsystem.digital.gov]
        <ul class="usa-list">
          <li>
            <a
              href="https://designsystem.digital.gov/components"
              class="usa-link usa-link--external">
              TK
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
