---
layout: multi-col
title:
bodyClass: prototype
permalink: /02/
---

<!--
*
* Prototyping
*
* Let's prototype a page using USWDS. We're going to be using:
* - USWDS Components
* - Theme settings
* - Tokens
* - Grid layout
* - Utility classes
*
*  Exercise
* - Incorporate USWDS components Card and Collection into sections below.
* - Add a two column layout starting at `tablet-lg` breakpoint.
*    News content should be be in main element and the rest in aside.
*
-->

<!-- Hero -->
{% include "hero.html" %}

<div class="usa-section">
  <div id="example-grid-row" class="grid-container">
    <!-- ! Exercise: Add row classes for a two column layout. -->
    <!-- https://designsystem.digital.gov/utilities/layout-grid/ -->
    <div class="">
      <!-- Main content -->
      <!-- ! Exercise: Add layout classes for main content. -->
      <main id="main-content" class="">
        <!-- News section -->
        <section id="news">
          <h2>Latest news</h2>

          <!-- ! Exercise: Convert the markup below to USA Card flags. -->
          <!-- https://designsystem.digital.gov/components/card/ -->
          {% include "components/usa-card--flag.html" %}
        </section>
        <!-- /News section -->
      </main>
      <!-- /Main content -->

      <!-- Sidebar -->
      <!-- ! Exercise: Create a smaller sidebar column. -->
      <aside class="example-card-default">
        <!-- Callouts section -->
        <section id="callouts">
          <!-- ! Exercise: Add default card markup and classes. -->
          {% include "components/usa-card.html" %}
        </section>
        <!-- /Callouts section -->

        <!-- Latest blog posts section -->
        <section id="latest-blogs">
          <h3>Latest blog posts</h3>

          <!-- ! Exercise: Add headings only collection of articles. -->
          <!-- https://designsystem.digital.gov/components/collection -->
          {% include "components/usa-collection--headings-only.html" %}
        </section>
        <!-- /Latest blog posts section -->

        <!-- Events section -->
        <section id="upcoming-events">
          <h3>Upcoming events</h3>

          <!-- ! Exercise: Add collection of calendar events. -->
          <!-- https://designsystem.digital.gov/components/collection -->
          {% include "components/usa-collection--calendar.html" %}
        </section>
        <!-- /Events section -->
      </aside>
      <!-- /Sidebar -->
    </div>
  </div>
</div>
