<!doctype html>
<html lang="en">

{% include "head.html" %}

<body {% if bodyClass %} class="{{ bodyClass }}" {% endif %}>
  <div class="sticky-footer-wrapper">
    {% include "skipnav.html" %}
    {% include "banner.html" %}

    <div class="sticky-footer-wrapper__body">
      {% include "header--extended.html" %}
      <main id="main-content">
        <div class="grid-container">
          {{ content }}
        </div>
      </main>
    </div>

    {% include "identifier.html" %}
  </div>

  <script src="{{ '/assets/js/uswds.min.js' | url }}"></script>
</body>
</html>
