// Theme settings available on settings page:
// https://designsystem.digital.gov/documentation/settings
//
// Or individual component pages.
// Ex: https://designsystem.digital.gov/components/banner

// System colors documentation.
// https://designsystem.digital.gov/colors/system

// Theme colors documentation.
// These settings allow us to make big UI color changes with a few adjustments.
// https://designsystem.digital.gov/design-tokens/color/theme-tokens

// !
// ! Exercises:
// !

// !
// !

@use "uswds-core" with (
  // Active development settings.
  $theme-show-notifications: false,
  // Layout settings
  $theme-utility-breakpoints: ("tablet-lg": true),
  // Primary colors
  $theme-color-primary-family: "cyan",
  $theme-color-primary-lightest: "cyan-5",
  $theme-color-primary-lighter: "cyan-10",
  $theme-color-primary-light: "cyan-30",
  $theme-color-primary: "cyan-60",
  $theme-color-primary-vivid: "cyan-60v",
  $theme-color-primary-dark: "cyan-70v",
  $theme-color-primary-darker: "cyan-80v",
  // Base colors
  $theme-color-base-family: "gray-cool",
  $theme-color-base-lightest: "gray-cool-5",
  $theme-color-base-lighter: "gray-cool-10",
  $theme-color-base-light: "gray-cool-30",
  $theme-color-base: "gray-cool-50",
  $theme-color-base-dark: "gray-cool-60",
  $theme-color-base-darker: "gray-cool-70",
  $theme-color-base-darkest: "gray-cool-80",
  $theme-color-base-ink: "gray-cool-80",
  // Link focus color
  $theme-focus-color: "primary-light",
  // Accent colors
  $theme-color-accent-cool-family: "mint-cool",
  $theme-color-accent-cool-lightest: "mint-cool-5",
  $theme-color-accent-cool-lighter: "mint-cool-10",
  $theme-color-accent-cool-light: "mint-cool-20",
  $theme-color-accent-cool: "mint-cool-30",
  $theme-color-accent-cool-dark: "mint-cool-50",
  $theme-color-accent-cool-darker: "mint-cool-60",
  $theme-color-accent-cool-darkest: "mint-cool-70",
  // Component settings
  //
  // Banner
  $theme-banner-background-color: "primary-darker",
  // Identifier
  $theme-identifier-background-color: "primary-darker",
  $theme-identifier-primary-link-color: "primary-lighter",
  $theme-identifier-secondary-link-color: "primary-lightest",
  // Hero
  // Image path must be relative to compiled CSS file.
  $theme-hero-image:
    "../project/img/hero/kristaps-ungurs-9aEILfISeAg-unsplash.webp"
);
