---
layout: multi-col
title:
bodyClass: theming
permalink: /03/
---

<!--
*
* Theming
*
* Now that we have structure and basic theming setup. Let's start
* customizing and applying our "brand" colors.
*
*  Exercise
* - Use color from either Banner or Identifier as primary theme colors in theme settings file.
* - Update Banner & Identifier with new theme color tokens.
* - Change hero image using theme settings.
* - Cleanup first callout card. Fix any contrast issues.
*
-->

<!-- ! Exercise: change hero image using theme settings. -->
<!-- ? Settings available in: src/_styles/_uswds-theme.scss -->
<!-- https://designsystem.digital.gov/documentation/settings/#component-settings -->
{% include "hero.html" %}

<div class="usa-section">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <!-- Main content -->
      <main id="main-content" class="tablet-lg:grid-col-8">
        <!-- News section -->
        <section id="news">
          <h2>Latest news</h2>
          <!-- https://designsystem.digital.gov/components/card/ -->
          {% include "components/usa-card--flag.html" %}
        </section>
        <!-- /News section -->
      </main>
      <!-- /Main content -->

      <!-- Sidebar -->
      <aside class="tablet-lg:grid-col-4 tablet-lg:margin-top-8">
        <!-- Callouts section -->
        <section id="callouts">
          <!-- https://designsystem.digital.gov/components/card -->
          {% include "components/usa-card.html" %}
        </section>
        <!-- /Callouts section -->

        <!-- Latest blog posts section -->
        <section id="latest-blogs">
          <h3>Latest blog posts</h3>

          <!-- ! Exercise: Add headings only collection of articles. -->
          <!-- https://designsystem.digital.gov/components/collection -->
          {% include "components/usa-collection--headings-only.html" %}
        </section>
        <!-- /Latest blog posts section -->

        <!-- Events section -->
        <section id="upcoming-events" class="tablet-lg:margin-top-8">
          <h3>Upcoming events</h3>

          <!-- https://designsystem.digital.gov/components/collection -->
          {% include "components/usa-collection.html" %}

        </section>
        <!-- /Events section -->
      </aside>
      <!-- /Sidebar -->
    </div>
  </div>
</div>
