---
layout: multi-col
title:
bodyClass: theming
---

<!--
*
* Theming
*
* Now that we have structure and basic theming setup. Let's start
* customizing and applying our "brand" colors.
*
*  Exercise
* - Use color from either Banner or Identifier as primary theme colors in theme settings file.
* - Update Banner & Identifier with new theme color tokens.
* - Change hero image using theme settings.
* - Cleanup first callout card:
*   - Add icon
*   - Fix contrast issues
*
-->

<!-- ! Exercise: change hero image using theme settings. -->
<!-- ? Settings available in: src/_styles/_uswds-theme.scss -->
<!-- https://designsystem.digital.gov/documentation/settings/#component-settings -->
{% include "hero.html" %}

<div class="usa-section">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <!-- Main content -->
      <main id="main-content" class="tablet-lg:grid-col-8">
        <!-- News section -->
        <section id="news">
          <h2>Latest news</h2>
          <!-- https://designsystem.digital.gov/components/card/ -->
          <ul class="usa-card-group flex-column flex-no-wrap">
            {% for item in news %}
            <li class="usa-card usa-card--flag">
              <div class="usa-card__container">
                <div class="usa-card__header"><h3>{{ item.heading }}</h3></div>
                <div class="usa-card__media">
                  <div class="usa-card__img">
                    <img
                      src="{{ site.card.placeholderImage | url }}"
                      alt="A placeholder image" />
                  </div>
                </div>
                <div class="usa-card__body">
                  <p>{{ item.body }}</p>
                </div>
                <div class="usa-card__footer">
                  <!-- https://designsystem.digital.gov/components/tag/ -->
                  <ul
                    class="usa-list usa-list--unstyled display-flex flex-align-start flex-wrap margin-bottom-1">
                    {% for tag in item.tags %}
                    <li class="usa-tag display-inline-block">
                      {{ tag }}
                    </li>
                    {% endfor %}
                  </ul>
                  <a href="javascript:void(0)" class="usa-button">
                    Read {{ item.cta }}
                  </a>
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
        </section>
        <!-- /News section -->
      </main>
      <!-- /Main content -->

      <!-- Sidebar -->
      <aside class="tablet-lg:grid-col-4 tablet-lg:margin-top-8">
        <!-- Callouts section -->
        <section id="callouts">
          <!-- https://designsystem.digital.gov/components/card -->

          <ul class="usa-card-group">
            {% for item in callouts %}
            <!--
              ! Exercise: Use a primary color as background for first item.
            -->
            <li class="usa-card">
              <div
                class="usa-card__container {% if forloop.first %} updateClass {% endif %}">
                <div class="usa-card__header">
                  <h3 class="usa-card__heading">{{ item.heading }}</h3>
                </div>
                <div class="usa-card__body">{{ item.body }}</div>
                <div class="usa-card__footer">
                  <!-- ! Exercise: Use any button variant to modify the first callout action. -->
                  <!-- https://designsystem.digital.gov/components/button -->
                  <a href="javascript:void(0)" class="usa-button usa-button--outline {% if forloop.first %} updateClass {% endif %}">
                    {{ item.cta }}
                  </a>
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
        </section>
        <!-- /Callouts section -->

        <!-- Latest blog posts section -->
        <section id="latest-blogs">
          <h3>Latest blog posts</h3>

          <!-- ! Exercise: Add headings only collection of articles. -->
          <!-- https://designsystem.digital.gov/components/collection -->
          <ul class="usa-collection usa-collection--condensed">
            {% for item in blog %}
            <li class="usa-collection__item">
              <div class="usa-collection__body">
                <h4 class="usa-collection__heading">
                  <a href="javascript:void(0)" class="usa-link">
                    {{ item.heading }}
                  </a>
                </h4>
                <div class="usa-collection__meta">
                  <div class="usa-collection__meta-item position-relative">
                    <svg
                      class="usa-icon position-relative bottom-neg-2px"
                      aria-hidden="true"
                      role="img">
                      <use xlink:href={{ "/assets/img/sprite.svg#public" | url }}></use>
                    </svg>
                    {{ item.source }}
                  </div>
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
        </section>
        <!-- /Latest blog posts section -->

        <!-- Events section -->
        <section id="upcoming-events">
          <h3>Upcoming events</h3>

          <!-- https://designsystem.digital.gov/components/collection -->
          <ul class="usa-collection">
            {% for item in events %}
            <li class="usa-collection__item">
              <div class="usa-collection__calendar-date">
                <time datetime="{{ item.fullDate }}">
                  <span class="usa-collection__calendar-date-month">
                    {{ item.month }}
                  </span>
                  <span class="usa-collection__calendar-date-day">
                    {{ item.day }}
                  </span>
                </time>
              </div>
              <div class="usa-collection__body">
                <h4 class="usa-collection__heading">
                  <a href="javascript:void(0)" class="usa-link">
                    {{ item.heading }}
                  </a>
                </h4>
                <p class="usa-collection__description">
                  {{ item.description }}
                </p>
              </div>
            </li>
            {% endfor %}
          </ul>

        </section>
        <!-- /Events section -->
      </aside>
      <!-- /Sidebar -->
    </div>
  </div>
</div>
